/* http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #444;
    line-height: 1.5em;
}

a { color: #41a3c2; }
a:hover { color: #e0115f; }

b, strong { font-weight: bold; }
em { font-style: italic; }
p, blockquote { margin-bottom: 1.4em; }

h1, h2, h3, h4, h5 {
    line-height: 1.4em;
    margin: 1em 0 0.5em;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit;
    text-decoration: none;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; font-weight: bold; }

label { color: #6d6c6c; }

ol, ul {
    margin: 0.5em 1em;
    padding-left: 0.5em;
    display: block;
}
ol li { list-style-type: decimal; }
ul li { list-style-type: disc; }

blockquote, pre, code {
    color: #404040;
    background-color: #F8F8F8;
    border-left: 4px solid #BBB;
    padding: 1em;
    padding-bottom: 0.1em;
}


input[type="text"],
input[type="password"],
textarea {
    color: inherit;
    padding: 0.2em;
    display: block;
    margin-bottom: 0.5em;
}


#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
#body {
    padding-bottom: 4em;
}

#header {
    width: 870px;
    margin: 2em auto 0;
}
#header #logo {
    float: left;
}

#header_about {
    color: #675E39;
    width: 600px;
    float: right;
    text-align: right;
    font-size: 1.1em;
    margin-top: 3.1em;
}

#main {
    margin: 2.5em auto;
    width: 800px;
}
#content {
    float: left;
    width: 600px;
}
#sidebar {
    float: right;
    margin-top: 2em;
    width: 160px;
}
#sidebar .divider {
    border-bottom: 1px solid #eee;
    margin: 1em 0;
}
#sidebar a.nav {
    text-decoration: none;
}
#sidebar h2 {
    font-size: 1.1em;
}
#sidebar h3 {
    font-size: 0.9em;
    font-weight: 200;
}
#sidebar #search {
    width: 80%;
}



#message {
    color: #333;
    padding: 0.5em;
    background-color: #EEE;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #DDD;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: 2em;
}
#message.success { background-color: #c6eac5; border: 1px solid #a5c4a4;}
#message.error { background-color: #F8ECEF; border: 1px solid #e0bac7;}


.topic_listing td {
    border-top: 1px solid #eee;
}
.topic_listing tr:first-child td {
    border: none;
}
.topic_listing td.info {
    color: #6d6c6c; 
    width: 22%;
    text-align: right;
    padding: 1.2em 0;
}
.topic_listing td.title {
    padding: 1.2em 0;
    width: 78%;
}
.topic_listing h2 {
    font-size: 1.2em;
    font-weight: 200;
    margin: 0;
}


.gravatar { border-radius: 4px; }

.comment {
    border-top: 1px solid #EEE;
    padding: 1.5em 0;
}
.comment_info {
    color: #6d6c6c; 
}
.comment .gravatar {
    float: left;
    margin: 0 1em;
}
.comment .body {
    padding: 0 1em;
    margin-left: 80px;
    margin-bottom: 1em;
}
.comment .comment {
    margin-left: 40px;
}


.topic h1, .comment h1 { font-size: 1.5em; }
.topic h2, .comment h2 { font-size: 1.3em; }
.topic h3, .comment h3 { font-size: 1.1em; }

.topic img, .comment img { max-width: 100%; }


a.vote_up,
a.vote_down {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #A9E4F4;
    color: white;
    text-decoration: none;
    padding: 0 0.3em;
}
a.vote_up:hover {
    background: #41a3c2;
}
a.vote_down {
    background: #e0bac7;
}
a.vote_down:hover {
    background: #cca5b2;
}



iframe.video {
    width: 600px;
    height: 338px;
}