/* http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
    line-height: 1.5em;
}

a { color: #41a3c2; }
a:hover { color: #e0115f; }

p { margin-bottom: 1.2em; }

h1, h2, h3, h4, h5 {
    color: #202020;
    line-height: 1.4em;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #202020;
    text-decoration: none;
}

h1 { font-size: 1.8em; }
h2, h3 {
    color: #202020;
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

label { color: #6d6c6c; }

input[type="text"],
input[type="password"],
textarea {
    padding: 0.2em;
    display: block;
    margin-bottom: 5px;
}


#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
#body {
    padding: 4em 0;
}
#main {
    margin: auto;
    width: 700px;
}

#header {
    margin-bottom: 3em;
}
#header #logo {
    text-align: center;
}
#header #logo a {
    font-size: 3.5em;
    padding: 0.1em 0.6em;
    line-height: 1;
    text-decoration: none;
    background-color: #419ab5;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0px 0px 40px #dddddd;
    -webkit-box-shadow: 0px 0px 40px #dddddd;
    -moz-box-shadow: 0px 0px 40px #dddddd;
    text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 0px;
}

#header #nav {
    margin-top: 2em;
    text-align: center;
}
#header #nav .item {
    margin: 0 10px;
}
#header #nav a.messages {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #67b6cf;
    color: white;
    text-decoration: none;
    padding: 0 0.3em;
}
#header #nav a.messages:hover {
    background: #e0115f;
}
#header #nav .karma {
    color: #6d6c6c;
}


#message {
    height: 2em;
    color: #FFF;
    text-align: center;
    line-height: 2em;
    width: 400px;
    margin: auto;
    margin-bottom: 2em;
}
#message a {
    color: #FFF;
    text-decoration: underline;
}
#message.info { 
    background-color: #555; 
}
#message.success { 
    background-color: #77DB96; 
}
#message.error { 
    background-color: #FF627D;
}


.topic_listing { margin-bottom: 2em; }
.topic_listing .domain {
    font-size: 0.8em;
    font-weight: 200;
    color: #6d6c6c;
}

.gravatar { border-radius: 4px; }

.comment {
    border-top: 1px solid #EEE;
    padding: 2em 0;
}
.comment_info {
    color: #6d6c6c; 
    font-weight: 200;
}
.comment .gravatar {
    float: left;
    margin: 0 1em;
}

.comment .body {
    padding: 0 2em;
    margin-left: 80px;
    margin-bottom: 1em;
}
.comment .comment {
    margin-left: 40px;
}


a.vote_up {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #93d6ea;
    color: white;
    text-decoration: none;
    padding: 0 0.3em;
}
a.vote_up:hover {
    background: #41a3c2;
}