/* http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


html {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: #404040;
}

body {
    font-size: 16px;
    margin: 4em auto;
    width: 750px;
}

a { color: #41a3c2; }
a:hover { color: #e0115f; }

p { margin-bottom: 1.2em; }

h1, h2, h3, h4, h5 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #202020;
    line-height: 1.4em;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #202020;
    text-decoration: none;
    border-bottom: none;
}

h1 {
    border-bottom: 1px solid #eeeeee;
    font-size: 1.8em;
    padding-bottom: 6px;
    margin-bottom: 0.5em;
}
h2, h3 {
    color: #202020;
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

label { display: block; font-size: 0.8em; }


#header {
    margin-bottom: 3.5em;
}
#header #logo {
    text-align: center;
}
#header #logo a {
    border-radius: 7px;
    font-size: 6em;
    padding: 0.1em 0.6em;
    text-decoration: none;
    background-color: #41A3C2;
    color: white;
}

#header #nav {
    font-size: 1.1em;
    margin-top: 1.5em;
    text-align: center;
}
#header #nav a {
    margin: 0 10px;
}


#message {
    height: 2em;
    color: #FFF;
    text-align: center;
    line-height: 2em;
    margin-bottom: 2em;
}
#message a {
    color: #FFF;
    text-decoration: underline;
}
#message.info { 
    background-color: #555; 
}
#message.success { 
    background-color: #77DB96; 
}
#message.error { 
    background-color: #FF627D;
}


.topic_listing { margin-bottom: 2em; }


.gravatar { border-radius: 4px; }

.comment {
    border-top: 1px solid #EEE;
}
.comment_info,
.comment .info { color: #808080; }
.comment .gravatar {
    float: left;
    margin: 1em;
}

.comment .body {
    padding: 1em;
    margin-left: 80px;
    margin-bottom: 1em;
}
.comment .comment {
    margin-left: 40px;
}


.topic {
    border: none;
    margin-top: 2em;
    padding-bottom: 3.5em;
}
.topic h2 {
    margin-bottom: 0.3em;
}

a.vote_up {
    border-radius: 4px;
    background: #93d6ea;
    color: white;
    text-decoration: none;
    padding: 0 0.3em;
}
a.vote_up:hover {
    background: #41a3c2;
}