/* http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html {
    background: #EBEBEB;
}
body {
    width: 1000px;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #4C4C4C;
    margin: auto;
    padding-bottom: 4em;
}

a { color: #41a3c2; }
a:hover { color: #e0115f; }

b, strong { font-weight: bold; }
em { font-style: italic; }
p, blockquote { margin-bottom: 1.4em; }

h1, h2, h3, h4, h5 {
    font-weight: 200;
    line-height: 1.4em;
    margin: 0.5em 0 1em;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em;  }

label { color: #6d6c6c; }

ol, ul {
    margin: 0.5em 1em;
    padding-left: 0.5em;
    display: block;
}
ol li { list-style-type: decimal; }
ul li { list-style-type: disc; }

blockquote, pre, code {
    color: #555;
    background-color: #F8F8F8;
    border-left: 4px solid #BBB;
    padding: 1em;
    padding-bottom: 0.1em;
}


input[type="text"],
input[type="password"],
textarea {
    color: inherit;
    padding: 0.2em;
    display: block;
    margin-bottom: 0.5em;
}



#logo {
    padding: 25px;
    padding-left: 170px;
}
#nav {
    float: left;
    font-size: 0.9em;
    margin-top: 25px;
    width: 120px;
}
#nav a {
    color: #959595;
    display: block;
    text-decoration: none;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#nav a:hover,
#nav a:active {
    color: #464646;
}
#nav .divider {
    margin: 1em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid white;
}
#content {
    width: 550px;
}
#content .wrapper {
    width: 100%;
    background: white;
    padding: 25px;
    margin-left: 140px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.08);
}
#sidebar {
    font-size: 0.9em;
    color: #959595;
    float: right;
    margin-top: 25px;
    width: 230px;
}
#sidebar h2 {
    color: #5E5E5E;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.1em;
}
#sidebar .favorites a {
    color: rgba(0, 0, 0, .4);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    line-height: 1.3em;
}
#sidebar .favorites a:hover,
#sidebar .favorites a:active {
    color: rgba(0, 0, 0, .7);
}


#message {
    color: #333;
    padding: 0.5em;
    background-color: #EEE;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #DDD;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: 2em;
}
#message.success { background-color: #c6eac5; border: 1px solid #a5c4a4;}
#message.error { background-color: #F8ECEF; border: 1px solid #e0bac7;}


.info {
    color: #888;
    font-weight: 200;
}


.topic .title {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}


.topic_listing { width: 100%; }
.topic_listing td {
    border-top: 1px solid #eee;
}
.topic_listing tr:first-child td {
    border: none;
}
.topic_listing td.info {
    width: 22%;
    text-align: right;
    padding: 1.2em 0;
}
.topic_listing td.title {
    padding: 1.2em 0;
    width: 78%;
}
.topic_listing h2 {
    font-size: 1.2em;
    margin: 0;
}


.gravatar { border-radius: 4px; }

.comment {
    border-top: 1px solid #EEE;
    padding: 1.5em 0;
}
.comment .gravatar {
    float: left;
    margin: 0 1em;
}
.comment .body {
    padding: 0 1em;
    margin-left: 80px;
    margin-bottom: 1em;
}
.comment .comment {
    margin-left: 40px;
}


.topic img, .comment img { max-width: 100%; }


a.vote_up,
a.vote_down {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ddd;
    color: white;
    text-decoration: none;
    padding: 0 0.3em;
}
a.vote_up:hover {
    background: #41a3c2;
}
a.vote_down:hover {
    background: #e0bac7;
}



iframe.video {
    width: 100%;
    height: 300px;
}
