html, body {
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #D6A14B;
	background-color: #FF703F;
}

a {
	color: #336699;
}

a:hover {
	background-color: #336699;
	color: #2C2F20;
}

blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 5px solid #D6A14B;
} 

#container {
	position: relative;
	padding: 10px;
	width: 90%;
	margin: auto;
}

canvas {
	z-index: 0;
	position: absolute;
}

.comment {
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #2C2F20;
	overflow-x: auto;
	display: none;
	max-height: 600px;
	z-index: 1;
}

.commentButtons {
	display: none;
}



.comment > div {
	margin: 15px;
}



.commentButtons a {
	margin: auto;
}