/* RESET */

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

table                   { border-spacing: 0; border-collapse: collapse; }
caption, th, td         { text-align: left; font-weight: normal; }
blockquote, q           { quotes: none; }
:focus                  { outline: 0; }

/* BASE */

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #2B332E;
    background:#15052A url(http://strawpoll.s3.amazonaws.com/c/nightsky.jpg) no-repeat scroll center top;
    background:#004976 url(http://bradcolbow.com/images_1008/background.jpg) repeat-x scroll center 0;
    background: #BFBFBF;
    width: 100%;
    height: 100%;
}

strong                  { font-weight: bold; }
em                      { font-style: italic; }
input, button, textarea { font-family: Arial, sans-serif; }
                        
/* TYPE */
p, ul, ol, dl, pre      { font-size: 1em; margin-bottom: 0.8em; }
ul, ol                  { margin-left: 2em; }
ul ul                   { margin-bottom: 0; }
h1, h2, h3, h4, h5      { margin-top: 0em; margin-bottom: 0.5em; }

h1                      { font-size: 1.3em; }
h2                      { font-size: 1.125em; }
h3                      { font-size: 1em;  }
h4                      { font-size: 0.875em; }
                        
a                       { color: #2D7BB2; text-decoration: none; outline: none; }
a:hover                 { color: #2B332E; }
a:visited {
    color:#666666;
}

pre, code {
    font-size: 0.8em;
}

label {
    display: block;
}

input, textarea {
    padding: 5px;
    font-size: 1em;
    margin-bottom: 5px;
}

/* base.html */
#header {
    padding-left: 5px;
    font-size: 1.2em;
    height: 40px;
    width: 99%;
}

#header_profile {
    float: right;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* generic styles */
.box {
    background-color: #FFFFFF;
    padding: 0.8em;
    border: 8px solid #A7B6BF;
    /* looks awful in google chrome, but nice in safari
    box-shadow: -5px 5px 25px #3F321B;
    -webkit-box-shadow: -5px 5px 25px #3F321B;
    -moz-box-shadow: -5px 5px 25px #3F321B;
    */
}

.title {
    font-size:1.3em;
}
