body {
    font-family: 'Gill Sans',Helvetica,Arial,sans-serif;
    font-size: 17px;
    background: #826F4F url('/static/bg.png') repeat-x scroll 0 0;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    margin: 0px;
}

a {
    font-weight:normal;
    text-decoration:none;
}

a:link {
    color:#CC0000;
}

a:visited {
    color:#666666;
}

a:hover, a:active {
    color: #333333;
}


canvas {
    z-index: 0;
    position: absolute;
}



/* base.html */
#header {
    background-color: #4F3D1D;
    height: 30px;
}

#content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* topic.html */
.comment_box {
    position: absolute;
    display: none;
    z-index: 1;
}

.comment, .topic {
    background-color: #EFE7E0;
    
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    
    /* looks awful in google chrome, but nice in safari
    box-shadow: -5px 5px 25px #3F321B;
    -webkit-box-shadow: -5px 5px 25px #3F321B;
    -moz-box-shadow: -5px 5px 25px #3F321B;
    */
}

.comment {
    width: 360px;
    padding: 10px;
    padding-bottom: 5px;
    margin: auto;
}

.comment .score,
.comment .date {
    color: grey;
}

.comment .date {
    float: right;
}

.comment .body p {
    margin: 0px;
    padding: 0px;
}

/* TinyMCE reply box */
body.mceContentBody {
    background: none;
    background-color: #EFE7E0;
}

body.mceContentBody p {
    margin: 0px;
    padding: 0px;
}

.comment img {
    max-width: 100%;
    margin: 10px;
    float: left;
}

.comment .body {
    overflow: auto;
}

.comment .nav {
    width: 200px;
    margin: auto;
}

.comment .nav a, 
.comment .nav span {
    float: left;
    text-align: center;
    visibility: hidden;
}

.comment .nav a {
    width: 60px;
}

.comment .nav span {
    width: 80px
}

.comment a.reply {
    visibility: hidden;
    float: right;
}

.comment:hover a.reply {
    visibility: visible;
}

.topic {
    width: 450px;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
}




