body {
    font-family: 'Gill Sans',Helvetica,Arial,sans-serif;
    font-size: 17px;
    background: #826F4F url('/static/bg.png') repeat-x scroll 0 0;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    margin: 0px;
}

a {
    font-weight:normal;
    text-decoration:none;
}

a:link {
    color:#CC0000;
}

a:visited {
    color:#666666;
}

a:hover, a:active {
    color: #333333;
}


canvas {
    z-index: 0;
    position: absolute;
}

#header {
    background-color: #4F3D1D;
    height: 30px;
}

#content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.comment_box {
    position: absolute;
    display: none;
    z-index: 1;
}

.comment, .topic {
    background-color: #EFE7E0;
    
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    
    /* looks awful in google chrome, but nice in safari
    box-shadow: -5px 5px 25px #3F321B;
    -webkit-box-shadow: -5px 5px 25px #3F321B;
    -moz-box-shadow: -5px 5px 25px #3F321B;
    */
}

.comment {
    width: 360px;
    padding: 10px;
    padding-bottom: 5px;
    margin: auto;
}

.comment .score {
    color: grey;
}

.comment .body {
    overflow: auto;
    max-height: 400px;
    /* IE6 and lower hack for max height */
    _height: expression(this.scrollHeight > 399 ? "400px" : "auto");
}

.comment .body p {
    margin: 0px;
    padding: 0px;
}

/* TinyMCE reply box */
body.mceContentBody {
    background: none;
    background-color: #EFE7E0;
}

body.mceContentBody p {
    margin: 0px;
    padding: 0px;
}

.comment .buttons {
    width: 100%;
    text-align: center;
}

.comment .buttons a {
    float: left;
    width: 20%;
    visibility: hidden;
}

.comment:hover .buttons a.reply {
    visibility: visible;
}

.topic {
    width: 450px;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
}




