body {
    font-family: 'Gill Sans','Gill Sans MT','Ikarius ADF',Candara,Jara,sans-serif;
    font-size: 17px;
    color: #000000;
    background-color: #826F4F;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
    margin: 0px;
}

a {
    font-weight:normal;
    text-decoration:none;
}

a:link {
    color:#CC0000;
}

a:visited {
    color:#666666;
}

a:hover, a:active {
    color: #333333;
}


canvas {
    z-index: 0;
    position: absolute;
}

#header {
    background-color: #4F3D1D;
    height: 30px;
    opacity: 0.8;
}

#content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.comment_container {
    position: absolute;
    display: none;
    z-index: 1;
    width: 350px;
}

.comment, .topic {
    background-color: #EFE7E0;
}

.comment {
    width: 360px;
    padding: 10px;
    margin: auto;
    -webkit-box-shadow: -5px 5px 25px #3F321B;
    -moz-box-shadow: -5px 5px 25px #3F321B;
    box-shadow: -5px 5px 25px #3F321B;
}

.comment .score {
    color: grey;
}

.comment .body {
    overflow: auto;
    max-height: 400px;
}

.comment .pagination {
    visibility: hidden;
    text-align: center;
}

.comment .pagination a {
    margin-left: 30px;
    margin-right: 30px;
}

.topic {
    padding: 5px;
    margin: 5px;
}