html, body {
	font-family: "Helvetica Neue",Helvetica,Times,serif;
	font-size: 18px;
	color: #5c5c5c;
	background-color: black;
}

a {
	color: #0074ae;
}

a:hover {
	background-color: #336699;
	color: #2C2F20;
}

blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 5px solid #D6A14B;
} 

#container {
	position: relative;
	padding: 10px;
	width: 90%;
	margin: auto;
}

canvas {
	z-index: 0;
	position: absolute;
}

.comment_container {
    position: absolute;
    display: none;
    z-index: 1;
}

.comment {
    width: 240px;
    margin: auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #232323;
	border: 2px solid #1F1F1F;
	overflow-x: auto;
	max-height: 300px;
}

.commentButtons {
	display: none;
}



.comment > div {
	margin: 15px;
}



.commentButtons a {
	margin: auto;
}