/* RESET */

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

table                   { border-spacing: 0; border-collapse: collapse; }
caption, th, td         { text-align: left; font-weight: normal; }
blockquote, q           { quotes: none; }
:focus                  { outline: 0; }

/* BASE */

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: #000000;
    background: #FFFFFF;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

strong                  { font-weight: bold; }
em                      { font-style: italic; }
                        
/* TYPE */
p, ul, ol, dl, pre      { font-size: 1em; margin-bottom: 0.8em; }
ul, ol                  { margin-left: 2em; }
ul ul                   { margin-bottom: 0; }
h1, h2, h3, h4, h5      { color: #47697F; margin-top: 0em; margin-bottom: 0.5em; }

h1                      { font-size: 1.5em; }
h2                      { font-size: 1.3em; }
h3                      { font-size: 1.1em;  }
h4                      { font-size: 1em; }

a                       { color: #2D7BB2; text-decoration: none; outline: none; padding: 3px 0px;}
a:hover                 { color: #DDB45C; }
a:visited               { color: #67767F; }

pre, code               { font-size: 0.8em; }

label {
    font-weight: bold;
    font-size: 1.3em;
    display: block;
}

input, textarea {
    font-family: Arial, sans-serif;
    padding: 0.2em;
    font-size: 1em;
    margin-bottom: 5px;
    border: 1px solid #A7B6BF;
}


textarea {
    border: 2px solid #BFBFBF;
}

input:focus, textarea:focus {
    border: 2px solid #6F6F6F;
}

.button:hover, input[type=submit]:hover {
    color: #FFFFFF;
    background: #2D7BB2;
}


/* base.html */
#header {
    margin-top: 5px;
    padding: 0px 20px;
    font-size: 1.2em;
    height: 110px;
}

#logo {
    color: #000000;
    text-shadow: #3F3F3F 1px 1px 2px;
    font-size: 2.5em; 
    letter-spacing: -5px; 
    font-weight:bold; 
    position:relative; 
    top: 30px;
}

#navbar {
    position: relative;
    top: 25px;
    float: right;
}

#navbar li {
    display: block;
    float: left;
    list-style-type: none;
    border-bottom: 2px solid #FFFFFF;
    padding: 15px;
}

#navbar li:hover {
    border-bottom: 2px solid black;
}

#content {
    padding-left: 20px;
}

#footer {
    padding-left: 5px;
}

/* generic styles */
.box {
    padding: 0.4em;
    border: 4px solid #C7CACC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.box img {
    max-width: 100%;
}
