{% for comment in comments %}
    <div class="comment">
        {% if comment.author %}
            <img src="{{ comment.author.gravatar(60) }}" class="gravatar">
        {% else %}
            <img src="http://a.vimeocdn.com/portraits/defaults/d.60.jpg" class="gravatar">
        {% end %}
        
        <div class="body">
            <p class="info">
                {% if current_user %}
                    <a class="vote_up" href="/{{ comment.id }}">+</a>
                {% end %}
                
                {% if comment.points == 1 %}
                    1 point
                {% else %}
                    {{ comment.points }} points
                {% end %}
                
                {% if comment.author %}
                    by <a href="/community/{{ comment.author.name }}">{{ comment.author.name }}</a>
                {% else %}
                    by anonymous
                {% end %}
                
                {{ locale.format_date(comment.created) }}
            </p>
            {{ handler.markdown(comment.text) }}
            <a id="{{ comment.id }}" class="reply">reply</a>
        </div>
        {{ handler.render_comments(comment.replies) }}
    </div>
{% end %}
