{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | My Account</title>
{% end %}


{% block style %}
    <style>
        .gravatar { float: left; }
        #info {
            padding: 1em;
            margin-bottom: 1em;
        }
        #info .body {
            margin-left: 120px;
        }
        
        #password, #email { width: 250px; }
        #about { width: 500px; height: 150px; }
    </style>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'updated' %}
        <p id="message" class="success">Account updated</p>
    {% elif message == 'check_email' %}
        <p id="message" class="error">Please check that your email address is correct</p>
    {% end %}
    
    <h1>My Account</h1>
    
    <div id="info">
        <img src="{{ current_user.gravatar(100) }}" class="gravatar">
        <div class="body">
            <a href="/users/{{ current_user.name }}">Profile</a>
            <br>
            {{ current_user.karma }} karma
            <br>
            {{ current_user.n_topics }} <a href="/users/{{ current_user.name }}/topics">topics</a>
            <br>
            {{ current_user.n_comments }} <a href="/users/{{ current_user.name }}/comments">comments</a>
        </div>
        <div style="clear:both"></div>
    </div>
    
    <form action="/account" method="post">
        {{ xsrf_form_html() }}
        <label for="email">Email (<a href="http://gravatar.com">gravatar</a>)</label>
        <input id="email" type="text" name="email" value="{{ current_user.email if current_user.email else '' }}">
        <label class="password">Change Password</label>
        <input id="password" type="password" name="password">
        <label for="about">About</label>
        <textarea id="about"></textarea>
        <input type="submit" value="Update">
    </form>
{% end %}
