<!DOCTYPE html>
<html>
<head>
    {% block title %}
        {% if current_site %}
            <title>{{ escape(current_site.title) }} | {{ escape(current_site.tagline) }}</title>
        {% end %}
    {% end %}
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    <!--[if IE 6]>
        <style>
            #background { display: none; }
        </style>
    <![endif]-->
    {% block style %}{% end %}
    {% if current_site and current_site.favicon %}
        <link rel="shortcut icon" href="/files/{{ current_site.favicon }}">
    {% end %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <img id="background" src="/static/bg.jpg">
    <div id="body">
        <div id="header">
            <div class="container">
                <div id="logo">
                    {% if current_site %}
                        <a href="/">{{ escape(current_site.title) }}</a>
                    {% end %}
                </div>
                <div id="nav">
                    <a class="item" href="/submit">submit  ✎</a>
                    <a class="item" href="/community">community ☮</a>
                    {% if current_user %}
                        <span class="item">
                            {% if current_user.n_messages %}
                                <a href="/inbox">inbox  ★ {{ current_user.n_messages }}</a>
                            {% else %}
                                <a href="/inbox">inbox</a>
                            {% end %}
                            &nbsp;|&nbsp;
                            <a href="/account">{{ current_user.name }} ☯ {{ current_user.karma }}</a>
                             &nbsp;|&nbsp;
                            <a href="/sign_out">sign out ☽</a>
                        </span>
                    {% else %}
                        <a class="item" href="/sign_in">sign in ☼</a>
                    {% end %}
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        
        <div id="main">
            <div id="content">
                {% block content %}{% end %}
            </div>
            <div id="footer">
                <script type="text/javascript">
                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', 'UA-3228291-1']);
                  _gaq.push(['_trackPageview']);
                  (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                  })();
                </script>
            </div>
        </div>
    </div>
</body>

</html>
