<!DOCTYPE html>
<html>
<head>
    {% block title %}
        {% if current_site %}
            <title>{{ escape(current_site.title) }} | {{ escape(current_site.tagline) }}</title>
        {% end %}
    {% end %}
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    <!--[if IE 6]>
        <style>
            #background { display: none; }
        </style>
    <![endif]-->
    {% block style %}{% end %}
    {% if current_site and current_site.favicon %}
        <link rel="shortcut icon" href="/files/{{ current_site.favicon }}">
    {% end %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <img id="background" src="/static/bg.jpg">
    <div id="body">
        <div id="header">
            <div id="logo">
                {% if current_site %}
                    <a href="/">
                        <img src="/static/thrutched_logo.png" style="height: 100px">
                    </a>
                {% end %}
            </div>
            <div id="header_about">
                {{ markdown(current_site.about) }}
            </div>
            <div style="clear:both"></div>
        </div>
        
        <div id="main">
            <div id="sidebar">
                {% if current_user %}
                    <a class="nav" href="/inbox">
                        {% if current_user.n_messages %}
                            Inbox  ★ {{ current_user.n_messages }}
                        {% else %}
                            Inbox ✉
                        {% end %}
                    </a>
                    </a>
                    <br>
                    <a class="nav" href="/account">{{ current_user.name }} ☯ {{ current_user.karma }}</a>
                    <br>
                    <a class="nav" href="/sign_out">Sign out ☽</a>
                {% else %}
                    <a class="nav" href="/sign_in">Sign in ☼</a>
                {% end %}
                <br>
                <a class="nav" href="/submit">Submit  ✎</a>
                <br>
                <a class="nav" href="/community">Community ☮</a>
                <br>
                {% set topics = globals().get('topics', []) %}
                {% for t in topics %}
                    <h3><a href="/{{ t.name }}">{{ escape(t.title) }}</a></h3>
                {% end %}
            </div>
            <div id="content">{% block content %}{% end %}</div>
        </div>
        
        <div id="footer">
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-3228291-1']);
              _gaq.push(['_trackPageview']);
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        </div>
    </div>
</body>

</html>
