{% extends "base.html" %}


{% block style %}
    <style>
        #title, #tagline { width: 350px; }
        #about { height: 200px; width: 550px;}
    </style>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'updated' %}
        <div id="message" class="success">Updated</div>
    {% end %}
    
    <h1>Community - Edit</h1>
    
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        {{ xsrf_form_html() }}
        <label for="favicon">Favicon</label>
        <br>
        <input id="favicon" type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    
    <form action="/community/edit" method="post">
        {{ xsrf_form_html() }}
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{ escape(current_site.title) }}">
        <label for="tagline">Tagline</label>
        <input type="text" id="tagline" name="tagline" value="{{ escape(current_site.tagline) }}">
        <input type="submit" value="Update!">
    </form>
{% end %}
