{% extends "base.html" %}


{% block title %}
    <title>webnodes | error</title>
{% end %}


{% block style %}
    <style>
        #content {
            width: 100%;
            text-align: center;
        }
    </style>
{% end %}


{% block content %}
    <p>Opps! We had a problem accessing reddit's API.</p>
    <p>
        This happens from time to time when reddit is busy, or when API requests are being rate limited.
    </p>
    <p>Please try refreshing the page a few times, or come back again later.</p>
    
    <p>Here's a screenshot of what it should look like normally:</p>
    <img src="/static/screenshot.png" style="margin: auto;">
{% end %}
