{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Inbox</title>
{% end %}


{% block style %}
    <style>
        .comment_info {
            margin-left: 80px;
        }
    </style>
{% end %}


{% block content %}
    <h1>Inbox</h1>
    
    {% for message in messages %}
        {% if message.type == 'welcome' %}
            <div class="comment">
                <p class="comment_info"><b>Welcome to {{ current_site.title }}!</b> &nbsp;What's next?</p>
                <a href="/">Browse recent topics</a>
                <br>
                <a href="/submit">Submit a topic</a>
                <br>
                <a href="/community">Read the Community Guidelines</a>
                <br>
                <a href="/account">Edit your Profile</a>
            </div>
        {% elif message.type == 'topic_upvote' %}
            {% set topic = message.topic %}
            <div class="comment">
                <img src="{{ message.sender.gravatar(40) }}" class="gravatar">
                <p class="comment_info">
                    <a href="/users/{{ message.sender.name }}">{{ message.sender.name }}</a>
                    voted for your topic
                    "{{ escape(topic.title) }}"
                    {{ relative_date(message.created) }}
                    |
                    <a href="/{{ topic.name }}">link</a>
                </p>
            </div>
        {% elif message.type == 'comment_upvote' %}
            {% set comment = message.comment %}
            <div class="comment">
                <img src="{{ message.sender.gravatar(40) }}" class="gravatar">
                <p class="comment_info">
                    <a href="/users/{{ message.sender.name }}">{{ message.sender.name }}</a>
                    voted for your comment
                    {{ relative_date(message.created) }}
                    |
                    <a href="/{{ comment.topic.name }}#c{{ comment.id }}">link</a>
                </p>
            </div>
        {% elif message.type == 'comment_reply' %}
            {% set comment = message.comment %}
            <div class="comment">
                {% if comment.author %}
                    <img src="{{ comment.author.gravatar(40) }}" class="gravatar">
                {% else %}
                    <img src="http://www.gravatar.com/avatar/0?d=mm&amp;s=40" class="gravatar">
                {% end %}
                <p class="comment_info">
                    {% if comment.author %}
                        <a href="/users/{{ comment.author.name }}">{{ comment.author.name }}</a>
                    {% else %}
                        anonymous
                    {% end %}
                    replied to you 
                    {{ relative_date(comment.created) }}
                    |
                    <a href="/{{ comment.topic.name }}#c{{ comment.id }}">link</a>
                </p>
            </div>
        {% elif message.type == 'topic_edit' %}
            {% set edit = message.topic_edit %}
            <div class="comment">
                <img src="{{ edit.author.gravatar(40) }}" class="gravatar">
                <p class="comment_info">
                    <a href="/users/{{ edit.author.name }}">{{ edit.author.name }}</a>
                    edited your topic
                    "{{ escape(edit.title) }}"
                    {{ relative_date(edit.created) }}
                    | <a href="/{{ edit.topic.name }}/versions">link</a>
                </p>
            </div>
        {% end %}
    {% end %}
{% end %}
