{% extends "base.html" %}


{% block style %}
    <style>
        
    </style>
{% end %}


{% block content %}
    <h1>Inbox</h1>
    
    {% for message in messages %}
        {% if message.type == 'welcome' %}
            <div class="comment">
                <p class="comment_info"><b>Welcome to {{ current_site.title }}!</b> What's next?</p>
                <a href="/">Browse recent topics</a>
                <br>
                <a href="/submit">Submit a topic</a>
                <br>
                <a href="/community">Read the Community Guidelines</a>
                <br>
                <a href="/users/{{ current_user.name }}">Edit your Profile</a>
            </div>
        {% elif message.type == 'comment_reply' %}
            {% set comment = message.comment %}
            <div class="comment">
                {% if comment.author %}
                    <img src="{{ comment.author.gravatar(60) }}" class="gravatar">
                {% else %}
                    <img src="http://www.gravatar.com/avatar/0?d=mm&amp;s=60" class="gravatar">
                {% end %}
                
                <div class="body">
                    <p class="comment_info">
                        {% if comment.author %}
                            <a href="/users/{{ comment.author.name }}">{{ comment.author.name }}</a>
                        {% else %}
                            anonymous
                        {% end %}
                        replied to you 
                        {{ relative_date (comment.created) }}
                        |
                        <a href="/{{ comment.topic.id }}#c{{ comment.id }}">link</a>
                    </p>
                    {{ markdown(comment.text) }}
                </div>
            </div>
        {% end %}
    {% end %}
{% end %}
