{% extends "base.html" %}


{% block style %}
    <style>
        .gravatar { float: left; }
        #info {
            padding: 1em;
            margin-bottom: 1em;
        }
        #info .body {
            margin-left: 120px;
            font-size: 1.1em;
        }
        
        #edit_account td {
            padding: 0.5em;
        }
    </style>
{% end %}


{% block content %}
    <h1>Inbox</h1>
    
    {% for message in messages %}
        <div class="message"></div>
    {% end %}
{% end %}
