{% extends "base.html" %}


{% block style %}
    <style>
        #about {
            color: #333;
            padding: 1.5em;
            font-size: 1.1em;
            background-color: #EEE;
            width: 550px;
            margin: auto;
            margin-bottom: 1.5em;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border: 1px solid #DDD;
        }
        #about p {
            margin-bottom: 0;
        }
        #about img {
            float: left;
            margin-right: 1em;
        }
        #next_page {
            font-size: 1.3em;
        }
    </style>
{% end %}


{% block content %}
    {% if not current_user %}
        <div id="about">
            {{ markdown(current_site.about) }}
            <div style="clear:both"></div>
        </div>
    {% end %}
    
    <table class="topic_listing">
        {% for topic in topics %}
            {% include "_topic_listing.html" %}
        {% end %}
        {% if next_page %}
            <td class="info"></td>
            <td class="title">
                <a id="next_page" href="/?page={{ next_page }}">More »</a>
            </td>
            <td class="info2"></td></td>
        {% end %}
    </table>
{% end %}
