{% extends "base.html" %}

{% block style %}
<style>
    #content {
        width: auto;
    }
    
    #{{ root }} {
        width: 95%;
        display: block;
    }
</style>
{% endblock %}


{% block script %}
<!--[if IE]>
    <script type="text/javascript" src="/static/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/webnodes.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
         var timeDiff  =  {
            setStartTime:function (){
                d = new Date();
                time  = d.getTime();
            },
            getDiff:function (){
                d = new Date();
                return (d.getTime()-time);
            }
        }
            
        graph = {{ graph|safe }};
            
        timeDiff.setStartTime();
        root = $("#{{ root }}")[0];
        WebNodes(root, graph);
        
        //alert(timeDiff.getDiff());
    });
</script>
{% endblock %}


{% block content %}
    <noscript>
        <p style="text-align: center">Sorry, this site requires javascript</p>
    </noscript>

    {% for comment in comments %}
        <div id="{{ comment.id }}" class="comment_container">
            <div class="comment">
                <a class="author" href="http://www.reddit.com/user/{{ comment.author }}">{{ comment.author }}</a>
                <span class="score">({{ comment.score }})</span>
                <div class="content">
                    <span>{{ comment.content|safe }}</span>
                </div>
                <a href="#" class="more">More...</a>
                <a href="#" class="less">Less...</a>
                <div class="pagination">
                    <a href="#" class="prev">Prev</a>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}