{% extends "base.html" %}


{% block style %}
    <style>
        #about {
            color: #333;
            padding: 1.5em;
            font-size: 1.1em;
            background-color: #EEE;
            margin-bottom: 2em;
            border-radius: 7px;
            border: 1px solid #DDD;
        }
        #about p {
            margin-bottom: 0;
        }
        #about img {
            float: left;
            margin-right: 1em;
        }
    </style>
{% end %}


{% block content %}
    {% if not current_user %}
        <div id="about">
            {{ markdown(current_site.about) }}
        </div>
    {% end %}
    
    {% for topic in topics %}
        {% include "_topic_listing.html" %}
    {% end %}
    
    {% if next_page %}
        <a href="/?page={{ next_page }}">Next Page</a>
    {% end %}
{% end %}
