{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Password Reset</title>
{% end %}


{% block script %}
    <script>
        $(function(){
            $('#email').focus();
        });
    </script>
{% end %}


{% block style %}
    <style>
        #email { width: 50%; }
    </style>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'emailed' %}
        <div id="message" class="success">A password reset link has been sent to your email</div>
    {% end %}
    
    <h1>Password Reset</h1>
    
    <form method="post">
        {{ xsrf_form_html() }}
        <label for="email">Email</label>
        <input id="email" type="text" name="email">
        <input class="button" type="submit" value="{{ _('Reset') }}">
    </form>
{% end %}

