{% extends "base.html" %}


{% block style %}
<style>
    #content {
        width: 1000px;
    }
</style>
{% endblock %}

{% block content %}
    {% for topic in topics %}
        <div class="topic box">
            <a class="title" href="/reddit/{{ topic.id }}">{{ topic.title }}</a>
            <p style="text-align:right">
                {{ topic.score }} points, 
                {{ topic.num_comments }} comments, 
                by <a href="http://www.reddit.com/user/{{ topic.author }}">{{ topic.author }}</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}