{% extends "base.html" %}

{% load tag_extras %}
{% load markup %}

{% block style %}
    <style>
        #content {
            width: 95%;
            margin: auto;
            position: relative;
        }
    </style>
{% endblock %}


{% block script %}
    <!--[if IE]>
        <script type="text/javascript" src="/static/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/topic.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var d = new Date();
            var start = d.getTime();
        
            var graph = {{ graph|safe }};
            $('#{{ root }}').initTopic(graph);
        
            d = new Date();
            //$(document.body).append(d.getTime() - start + 'ms');
        });
    </script>
{% endblock %}


{% block content %}
    <noscript>
        <p style="text-align: center">Sorry, this site requires javascript</p>
    </noscript>

    {% for comment in comments %}
        <div id="{{ comment.id }}" class="comment_box">
            <div class="comment">
                <div class="comment_inner">
                    <a class="points">{{ comment.points }}</a>
                    <div class="body">{{ comment.body|urlify_markdown|markdown }}</div>
                    <span style="float: right">
                        <a class="author" href="http://www.reddit.com/user/{{ comment.author }}">{{ comment.author }}</a>
                        some time ago
                    </span>
                    <a class="reply" style="text-align:center" href="#">reply</a>
                </div>
            </div>
            <div class="comment_nav">
                <a class="prev" href="#">«</a>
                <span class="page_num"></span>
                <a class="next" href="#">»</a>
            </div>
        </div>
    {% endfor %}

    <div id="reply_box" class="comment_box">
        <div class="comment">
            <div class="comment_inner">
                <form id="reply_form" action="/comments" method="post">
                    <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}">
                    <textarea id="reply_textarea" name="body" style="height:200px; width:95%"></textarea>
                    <input type="submit" style="float:right" value="reply">
                    <a id="reply_cancel" href="#">cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
