{% extends "base.html" %}


{% block content %}
    <h1>Submit Article</h1>
    
    <form action="" method="post">
        {{ xsrf_form_html() }}
        <label for="title">Title</label>
        <input id="title" type="text" name="title">
        
        <label for="link">Link</label>
        <input id="link" type="text" name="link">
        
        <label for="text">Text</label>
        <textarea name="text"></textarea>
        
        <input type="submit" value="Submit">
    </form>
{% end %}
