{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Submit a Topic</title>
{% end %}


{% block style %}
    <style>
        #title { width: 90%; }
        textarea {
            height: 200px;
            width: 90%;
        }
        #slug {
            display: inline; 
            width: 50%;
        }
        .slug { font-size: 0.9em; color: grey; }
        
        #preview {
            border: 1px dotted #888;
            width: 90%;
            margin-bottom: 10px;
            padding: 10px;
        }
    </style>
{% end %}


{% block script %}
    <script>
        function slugify(val) {
            return $.trim(val.replace(/[^\w\s-]/g, ''))
                .replace(/[-\s]+/g, '-')
                .toLowerCase()
                .substr(0, 60);
        }
        
        var id;
        function preview(){
            clearTimeout(id);
            id = setTimeout(function(){
                var val = $('#text').val();
                if (!val) return;
                $.post('/submit', {preview: val}, function(html){
                    $('#preview').show()
                        .find('.content')
                        .empty()
                        .append(html);
                });
            }, 1000);
        }
        
        jQuery(function($){
            $('#title').focus()
                .keyup(function(){
                    $('#slug').val(slugify(this.value));
                });
            $('#slug').keyup(function(){
                var slug = slugify(this.value);
                if (this.value != slug)
                    this.value = slug;
            });
            $('#text').keyup(preview);
        });
    </script>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'no_title' %}
        <div id="message" class="error">Missing a title</div>
    {% elif message == 'check_slug' %}
        <div id="message" class="error">Please check that the topic URL is correct.</div>
    {% elif message == 'no_text' %}
        <div id="message" class="error">Please enter some text for your topic.</div>
    {% elif message == 'topic_exists' %}
        <div id="message" class="error">A topic already exists with that URL. Please choose a different name.</div>
    {% end %}
    
    <h1>Submit a Topic</h1>
    
    <p>
        First time posting? Read the <a href="/community">Community Guidelines</a>.
    </p>
    <form action="/submit" method="post">
        {{ xsrf_form_html() }}
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="{{ handler.get_argument('title', '') }}" tabindex="1">
        <p class="slug">
            {{ current_site.domain or current_site.key_name + '.webnodes.org' }}/<input id="slug" type="text" name="slug" value="{{ handler.get_argument('slug', '') }}" tabindex="2">
        </p>
        <label for="text">
            Text (<a target="_blank" href="http://daringfireball.net/projects/markdown/basics">markdown</a>)
        </label>
        <textarea id="text" name="text" tabindex="4">{{ handler.get_argument('text', '') }}</textarea>
        <br>
        <div id="preview">
            <div class="content"></div>
        </div>
        <input type="submit" value="Do it!" tabindex="5">
    </form>
{% end %}
