{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Submit a Topic</title>
{% end %}


{% block style %}
    <style>
        #title, #link { width: 400px; }
        textarea {
            height: 150px;
            width: 500px;
        }
    </style>
{% end %}


{% block script %}
    <script>
        jQuery(function($){
            $('#title').focus();
        });
    </script>
{% end %}


{% block content %}
    <h1>Submit a Topic</h1>
    <br>
    <p>
        First time posting? Read the <a href="/community">Community Guidelines</a>.
    </p>
    <form action="" method="post">
        {{ xsrf_form_html() }}
        <label for="title">Title</label>
        <input id="title" type="text" name="title" tabindex="1">
        <p>
            http://{{ current_site.domain }}/<input style="display:inline" type="text" name="url_title">
        </p>
        <label for="link">Link</label>
        <input id="link" type="text" name="link" tabindex="2">
        <label for="text">
            Text (<a target="_blank" href="http://daringfireball.net/projects/markdown/basics">markdown</a>)
        </label>
        <textarea name="text" tabindex="3"></textarea>
        <input type="submit" value="Do it!" tabindex="4">
    </form>
{% end %}
