{% extends "base.html" %}

{% block style %}
<style>
    #content {
        width: 95%;
        margin: auto;
        position: relative;
        padding-top: 30px;
    }
</style>
{% endblock %}


{% block script %}
<!--[if IE]>
    <script type="text/javascript" src="/static/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/webnodes.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var d = new Date();
        var start = d.getTime();
        
        var graph = {{ graph|safe }};
        $('#{{ root }}').initThread(graph);
        
        d = new Date();
        //alert(d.getTime() - start);
    });
</script>
{% endblock %}


{% block content %}
    <noscript>
        <p style="text-align: center">Sorry, this site requires javascript</p>
    </noscript>

    {% for comment in comments %}
        <div id="{{ comment.id }}" class="comment_container">
            <div class="comment">
                <a class="author" href="http://www.reddit.com/user/{{ comment.author }}">{{ comment.author }}</a>
                <span class="score">({{ comment.score }})</span>
                <div class="body">{{ comment.body|safe }}</div>
                <div class="buttons">
                    <a class="expand" href="#">+</a>
                    <a class="prev" href="#">prev</a>
                    <a class="next" href="#">next</a>
                    <a class="reply" href="#">reply</a>
                </div>
                <div style="clear:left"></div>
            </div>
        </div>
    {% endfor %}
    
    <div id="reply_container" class="comment_container">
        <div class="comment">
            <form id="reply_form" action="/comments" method="get">
                <textarea id="reply_textarea" name="content" style="height:300px; width:100%"></textarea>
            </form>
            <a id="reply_cancel" href="#">Cancel</a>
            <input type="submit" value="Reply">
        </div>
    </div>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    
{% endblock %}