{% extends "base.html" %}


{% block style %}
    <style>
        .topic {
            margin-bottom: 15px;
            padding: 1em;
        }
        
        .topic p {
            margin-bottom: 0px;
        }
    </style>
{% end %}


{% block content %}
    {% for topic in topics %}
        <div class="topic box">
            <h1>
                <a href="/{{ topic['id'] }}">{{ topic['title'] }}</a>
            </h1>
            <p style="text-align:right">
                {{ topic['num_comments'] }} comments,
                <a href="http://www.reddit.com/user/{{ topic['author'] }}">{{ topic['author'] }}</a>,
                {{ locale.format_date(topic['updated']) }}
            </p>
        </div>
    {% end %}
{% end %}


