{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Edit Topic</title>
{% end %}


{% block style %}
    <style>
        #title, #reason { width: 550px; }
        textarea {
            height: 300px;
            width: 100%;
        }
    </style>
{% end %}


{% block script %}
    <script>
        jQuery(function($){
            $('#reason').focus();
        });
    </script>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'need_more_karma' %}
        <div id="message" class="error">You need at least 20 karma to edit topics. Don't worry buckeroo, you'll get there!</div>
    {% end %}
    
    <h1>Edit Topic</h1>
    <br>
    <form action="" method="post">
        {{ xsrf_form_html() }}
        <label for="reason">Reason for Edit</label>
        <input id="reason" type="text" name="reason">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" tabindex="1" value="{{ escape(topic.title) }}">
        <label for="text">
            Text (<a target="_blank" href="http://daringfireball.net/projects/markdown/basics">markdown</a>)
        </label>
        <textarea name="text" tabindex="3">{{ escape(topic.text) }}</textarea>
        <input type="submit" value="Do it!" tabindex="4">
    </form>
{% end %}
