{% extends "base.html" %}


{% block script %}
    <script>
        (function($){
            $('a.reply').live('click', function(){
                $('#reply_to').val(this.id);
                $('#reply_box')
                    .insertAfter($(this).closest('.body'))
                    .toggle('fast')
                    .find('textarea')
                    .focus();
                return false;
            });
        })(jQuery);
    </script>
{% end %}


{% block style %}
    <style>
        #reply_box {
            display: none;
        }
        #reply_box textarea {
            width: 500px;
            height: 100px;
        }
    </style>
{% end %}


{% block content %}
    <h1>
        {% if topic.link %}
            <a href="{{ topic.link }}">{{ escape(topic.title) }}</a>
        {% else %}
            {{ escape(topic.title) }}
        {% end %}
    </h1>
    <div class="comment topic">
        {% if topic.author %}
            <img src="{{ topic.author.gravatar(50) }}" class="gravatar">
        {% else %}
            <img src="http://a.vimeocdn.com/portraits/defaults/d.50.jpg" class="gravatar">
        {% end %}
        <div class="body">
            <p class="info">
                {% if topic.points == 1 %}
                    1 point
                {% else %}
                    {{ topic.points }} points
                {% end %}
                
                {% if topic.author %}
                    by <a href="/users/{{ topic.author.name }}">{{ topic.author.name }}</a>
                {% else %}
                    by anonymous
                {% end %}
                
                {{ locale.format_date(topic.created) }}
            </p>
            {% if topic.text %}
                {{ handler.markdown(topic.text) }}
            {% end %}
            <a class="reply">reply</a>
        </div>
    </div>
    
    <h2 style="color:#666666;">Comments</h2>
    <div id="reply_box" class="comment">
        <form action="" method="post">
            {{ xsrf_form_html() }}
            <input type="hidden" id="reply_to" name="reply_to">
            <textarea name="text"></textarea>
            <br>
            <input type="submit" value="Add Comment">
        </form>
    </div>
    
    {{ handler.render_comments(topic.replies()) }}
{% end %}

