{% extends "base.html" %}

{% load tag_extras %}

{% block title %}
    <title>{{ topic.title }} | {{ forum }}</title>
{% endblock %}

{% block style %}
    <style>
        #content {
            width: 100%;
            max-width: 1500px;
        }
        
        canvas {
            z-index: 0;
            position: absolute;
        }
        
        .container {
            position: absolute;
            display: none;
            z-index: 1;
        }
        
        .comment {
            width: 350px;
            margin: auto;
        }
        
        .topic {
            width: 600px;
            margin: auto;
        }
        
        /* stuff within a comment */
        .comment img {
            max-width: 100%;
        }

        .comment .body {
            overflow: auto;
        }

        .score, .info, .points, .date {
            color: grey;
            float: right;
            visibility: hidden;
        }
        
        a.reply {
            visibility: hidden;
            text-align: center;
        }
        
        .comment:hover .date,
        .comment:hover .points, 
        .comment:hover a.reply {
            visibility: visible;
        }

        .comment_nav {
            width: 260px;
            margin: auto;
        }

        .comment_nav a, 
        .comment_nav span {
            float: left;
            font-size: 1.2em;
            font-weight: normal;
            background-color: #59A5D1;
            color: white;
            text-align: center;
            visibility: hidden;
            padding: 0px;
        }
        
        .comment_nav a {
            width: 80px;
        }
        
        .comment_nav span {
            width: 100px;
        }
        
        a.prev {
            -moz-border-radius: 0 0 0 10px;
        }
        
        a.next {
            -moz-border-radius: 0 0 10px 0;
        }
        
        a.prev:hover,
        a.next:hover {
            background-color: #408BB6;
        }
        
        a.prev:active,
        a.next:active {
            background-color: #77C4EF;
        }
    </style>
{% endblock %}


{% block script %}
    <!--[if IE]>
        <script type="text/javascript" src="/static/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/topic.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var d = new Date();
            var start = d.getTime();

            $('#{{topic.id}}').initTopic({{ graph|safe }});
        
            d = new Date();
            //$(document.body).append(d.getTime() - start + 'ms');
        });
    </script>
{% endblock %}



{% block content %}
    <noscript>
        <p style="text-align: center">Sorry, this site requires javascript</p>
    </noscript>

    <div id="{{ topic.id }}" class="container">
        <div class="comment topic box">
            <div class="body">
                <h1>{{ topic.title }}</h1>
                {{ topic.body|markdownify }}
            </div>
            <span style="float: right">
                {{ topic.points }} points,
                {% ifequal forum 'reddit' %}
                    by <a href="http://www.reddit.com/user/{{ topic.author }}">{{ topic.author }}</a>,
                {% else %}
                    by <a href="/users/{{ topic.author }}">{{ topic.author }}</a>,
                {% endifequal %}
                {{ topic.updated|timeago }}
            </span>
            <a class="reply" style="text-align:center" href="#">reply</a>
        </div>
        <div class="comment_nav">
            <a class="prev" href="#">«</a>
            <span class="page_num"></span>
            <a class="next" href="#">»</a>
        </div>
    </div>

    {% for comment in comments %}
        <div id="{{ comment.id }}" class="container">
            <div class="comment box">
                <div class="voting" style="position:absolute;top:10px;right:40px;visibility:hidden">
                    <a class="up" href="#">up</a>
                </div>
                <div class="body">
                    {{ comment.body|markdownify }}
                </div>
                <span style="float: right">
                    {{ comment.points }} points,
                    {% ifequal forum 'reddit' %}
                        by <a href="http://www.reddit.com/user/{{ comment.author }}">{{ comment.author }}</a>,
                    {% else %}
                        by <a href="/users/{{ comment.author }}">{{ comment.author }}</a>,
                    {% endifequal %}
                    {{ comment.updated|timeago }}
                </span>
                <a class="reply" style="text-align:center" href="#">reply</a>
            </div>
            <div class="comment_nav">
                <a class="prev">«</a>
                <span class="page_num"></span>
                <a class="next">»</a>
            </div>
        </div>
    {% endfor %}

    <div id="reply_box" class="container">
        <div class="comment box">
            <form id="reply_form" action="" method="post">
                <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}">
                <textarea id="reply_textarea" name="body" style="height:200px; width:97%"></textarea>
                <input type="submit" style="float:right" value="reply">
                <a id="reply_cancel" href="#">cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
