{% extends "base.html" %}


{% block script %}
    <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
    <script>
        tinyMCE.init({
            mode : "textareas",
            theme : "simple"
        });
    </script>
{% endblock %}

{% block style %}
<style>
    #content {
        width: 800px;
    }
</style>
{% endblock %}

{% block content %}
    <form action="/topics" method="POST">
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
