{% extends "base.html" %}

{% load tag_extras %}

{% block style %}
    <style>
        #content {
            width: 800px;
        }
    
        #sidebar {
            float: right;
        }
    
        #sidebar a {
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="sidebar">
        <a href="/topics/new">Start a topic</a>
        <h3>Tags</h3>
        {% for tag in tags %}
            <a href="/{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a>
        {% endfor %}
    </div>

    {% for topic in topics %}
        <div class="topic">
            <h2><a href="/topics/{{ topic.id }}">{{ topic.title }}</a></h2>
            <span>
                {{ topic.score }} points, 
                {{ topic.num_comments }} comments, 
                by {{ topic.author }}
                {{ topic.updated|timeago }}
            </span>
            <p>
                {% for tag_name in topic.tags %}
                    {{ tag_name }}
                {% endfor %}
            </p>
        </div>
    {% endfor %}
{% endblock %}


