{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | Edit Topic</title>
{% end %}


{% block style %}
    <style>
        #title, #link { width: 550px; }
        textarea {
            height: 300px;
            width: 650px;
        }
    </style>
{% end %}


{% block script %}
    <script>
        jQuery(function($){
            $('#title').focus();
        });
    </script>
{% end %}


{% block content %}
    <h1>Edit Topic</h1>
    <br>
    <form action="" method="post">
        {{ xsrf_form_html() }}
        <label for="title">Title</label>
        <input id="title" type="text" name="title" tabindex="1" value="{{ escape(topic.title) }}">
        <label for="link">Link</label>
        <input id="link" type="text" name="link" tabindex="2" value="{{ escape(topic.link) }}">
        <label for="text">
            Text (<a target="_blank" href="http://daringfireball.net/projects/markdown/basics">markdown</a>)
        </label>
        <textarea name="text" tabindex="3">{{ escape(topic.text) }}</textarea>
        <input type="submit" value="Do it!" tabindex="4">
    </form>
{% end %}
