{% extends "base.html" %}

{% block style %}
    <style>
        #content {
            width: 95%;
            height: 80%;
        }
    
        #source, #translation {
            width: 50%;
            float: left;
        }
        
        #content textarea {
            width: 95%;
            height: 400px;
        }
    </style>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        $(function(){
            function save_text() {
                $.post('/jobs/{{ job.id }}', {
                        action: 'save',
                        translated_text: $('#translated_text').val()
                    }, function(html){
                        $('#saved').fadeIn();
                });
            }
            
            var timer;
            $('#translated_text').keyup(function(){
                window.clearTimeout(timer);
                $('#saved').fadeOut();
                timer = window.setTimeout(save_text, 5000);
            });
            
            $('#save').click(function(e){
                $('#saved').fadeOut();
                save_text();
                return false;
            });
            
            
        });
    </script>
{% endblock %}



{% block content %}
    <div id="source">
        <textarea name="source_text" readonly="readonly">{{ job.text }}</textarea>
    </div>
    <div id="translation">
        <form method="post" action="">
            <textarea id="translated_text" name="translated_text">{{ job.translated_text }}</textarea>
            <input type="submit" value="submit">
            <input type="button" id="save" value="save">
            <span id="saved" style="display:none">saved</span>
        </form>
    </div>
    <div style="clear:both"></div>
{% endblock %}
