{% extends "base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | {{ user.name.capitalize() }}'s Comments</title>
{% end %}


{% block content %}
    <h1>{{ user.name.capitalize() }}'s Comments</h1>
    
    {% for comment in user.comments %}
        <div class="comment">
            <img src="{{ user.gravatar(50) }}" class="gravatar">
            
            <div class="body">
                <p class="info">
                    {% if comment.points == 1 %}
                        1 point
                    {% else %}
                        {{ comment.points }} points
                    {% end %}
                    
                    {% if comment.author %}
                        by <a href="/users/{{ comment.author.name }}">{{ comment.author.name }}</a>
                    {% else %}
                        by anonymous
                    {% end %}
                    
                    {{ relative_date(comment.created) }}
                    |
                    <a href="/{{ comment.topic.name }}#c{{ comment.id }}">link</a>
                </p>
                {{ handler.markdown(comment.text) }}
            </div>
        </div>
    {% end %}
{% end %}

