{% extends "base.html" %}

{% load tag_extras %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}


{% block style %}
    <style>
        .comment {
            width: 500px;
            padding: 10px;
            margin: auto;
            margin-bottom: 15px;
        }

        .comment p {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}


{% block content %}
    {% for comment in comments %}
        {% ifequal comment.class 'topic' %}
            <div class="topic box">
                <h1>
                    <a href="/{{ forum }}/{{ comment.id }}">{{ comment.title }}</a>
                </h1>
                <p style="text-align:right">
                    {{ comment.num_comments }} comments,
                    {{ comment.updated|timeago }}, by
                    {% ifequal forum 'reddit' %}
                        <a href="http://www.reddit.com/user/{{ topic.author }}">{{ comment.author }}</a>
                    {% else %}
                        <a href="/users/{{ topic.author }}">{{ comment.author }}</a>
                    {% endifequal %}
                </p>
            </div>
        {% else %}
            <div class="comment box">
                <div class="body">
                    {{ comment.body|markdownify }}
                </div>
                <p style="text-align:right">
                    {{ comment.updated|timeago }}, by
                    {% ifequal forum 'reddit' %}
                        <a href="http://www.reddit.com/user/{{ topic.author }}">{{ comment.author }}</a>
                    {% else %}
                        <a href="/users/{{ topic.author }}">{{ comment.author }}</a>
                    {% endifequal %}
                </p>
            </div>
        {% endifequal %}
    {% endfor %}
{% endblock %}
