{% extends "../base.html" %}


{% block title %}
    <title>{{ escape(current_site.title) }} | {{ user.name.capitalize() }}'s Profile</title>
{% end %}


{% block style %}
    <style>
        .gravatar { float: left; }
        #info { margin: 1em 0; }
        #info .body { margin-left: 120px; }
    </style>
{% end %}


{% block content %}
    <h1>{{ user.name.capitalize() }}'s Profile</h1>
    
    <div id="info">
        <img src="{{ user.gravatar(100) }}" class="gravatar">
        <div class="body">
            Joined {{ relative_date(user.created) }}
            <br>
            {{ user.karma }} karma
            <br>
            {{ user.n_topics }} <a href="/users/{{ user.name }}/topics">topics</a>
            <br>
            {{ user.n_comments }} <a href="/users/{{ user.name }}/comments">comments</a>
        </div>
        <div style="clear:both"></div>
    </div>
    
    {% if user.about %}
        <br>
        <h2>About</h2>
        {{ markdown(user.about) }}
    {% end %}
{% end %}
